/* Texto principal */
body {
  color: #00F;
  background-color: #CFC;
  font-family: Georgia, Cambria, serif;
  font-size: 16px;
}

/* Encabezado de nivel 1 */
h1 {
  color: #F00;
  font-family: Verdana, Calibri, sans-serif;
  font-size: 32px;
}

/* Encabezado de nivel 2 */
h2 {
  color: #A00;
  font-family: Verdana, Calibri, sans-serif;
  font-size: 24px;
}

/* Campos de los datos del libro */
span {
  color: #060;
}

/* Texto "Internet" y "Web" como sustantivos */
strong {
  font-size: 20px;
  font-weight: bold;
}

/* Texto "Hypertext Markup Language", "Cascading Style Sheets", "HTML" y "CSS" */
em {
  color: #FFF;
  background-color: #000;
  font-style: italic;
}